body {
    color: $black;
}

button {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    &[disabled] {
        cursor: not-allowed;
    }
}

.container {
    background-color: $white;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a {
    cursor: pointer;
}

form {
    label {
        margin-bottom: 0.2rem;
    }
}

.modal-content {
    padding: 10px 20px;
    border-radius: 0;

    .modal-header {
        color: $black;
        border-bottom: 0;
        .close {
            color: $black;
            cursor: pointer;
        }
    }

    .modal-footer {
        border-top: 0;
    }
}

.rdt {
    input[readonly] {
        background-color: white;
    }

}

.show-feedback {
    display: block;
}

body {
    .Select {
        min-width: 200px;

        .Select-control {
            height: 100%;
            border-radius: $input-border-radius;
            border-color: $input-border-color;

            .Select-placeholder, .Select-value {
                top: 3px;
            }
        }
        &.is-open {
            .Select-control {
                border-color: $input-focus-border-color;
            }
        }
        &.is-focused {
            &:not(.is-open) {
                .Select-control {
                    border-color: $input-focus-border-color;
                }
            }
        }
        .Select-clear-zone {
            &:hover {
                color: $red;
            }
        }
        .Select-clear {
            font-size: 30px;
        }
        .Select-option {
            &.is-focused {
                background-color: $gray-lighter;

            }
        }
        .Select-menu-outer {
            z-index: 100;
        }

    }

    .form-group {
        .Select-control {
            height: 42px;
        }
    }
}

.modal-xl {
    @media (min-width: map-get($grid-breakpoints, sm)) {
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}
