$white: #f7f7f7;
$greye: #eee;
$greyd: #ddd;
$greyc: #ccc;
$greyb: #bbb;
$greya: #aaa;
$grey9: #999;
$grey8: #888;
$grey7: #777;
$grey6: #666;
$grey5: #555;
$grey4: #444;
$grey3: #333;
$grey2: #222;
$black: #111;
