{% extends "base.html" %}

{% block page_title %}
 Welcome!
{% endblock %}

{% block content %}
    <h1> Build Up The Base! </h1>
    <div class="h3">
        Opt in to the Android alpha <a href="https://play.google.com/apps/testing/com.tankorsmash.buildupthebase">here</a>.
    </div>
    <br>
    <div>
        <a href="{% url "leaderboard" %}"> LEADERBOARDS</a> 
        <div>
            Wow, {{ players|length }} players. Things are heating up.
        </div>
    </div>
    <br>
    <div>
        <a href="{% url "changelog" %}"> CHANGELOG</a>
        <div>
            Classic, sleek, modern design, fresh from 2005.
        </div>
    </div>
</body>
{% endblock %}
