{% extends "base.html" %}

{% block page_title %}
Leaderboard
{% endblock %}

{% block styles %}
    body {
        counter-reset: player-index;
    }

    .player-username {
        counter-increment: player-index;
    }

    .player-username:before {
        content: counter(player-index) "." ;
    }

    .current_player { 
        background-color: gainsboro;
    }
{% endblock %}

{% block content %}
<h1>Leaderboard</h1>
<h2>Who's better than you?</h2>

<div id="leaderboard ">
    {% for player in players %}
    <div class="card-row player-detail m-t-1 {% if player_id == player.username %}current_player{% endif %}">
        <div class="player-username"> 
            <a href="/users/{{player.username}}/">{{ player.username }}</a>
        </div>
        <div class="row">
            <div class="col-md-3 player-building_levels"> 
                Total levels: {{ player.total_building_levels }}
            </div>
            <div class="col-md-3 player-coins"> 
                {{ player.pretty_coins }} total coins
            </div>
            <div class="col-md-2 player-coins"> 
                {{ player.cps }} coins/sec
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
