{% extends "base.html" %}

{% block page_title %}
Leaderboard
{% endblock %}

{% block styles %}
    body {
        counter-reset: player-index;
    }

    .player-username {
        counter-increment: player-index;
    }

    .player-username:before {
        content: counter(player-index) "." ;
    }

    .current_player { 
        background-color: gainsboro;
    }
{% endblock %}

{% block content %}
<h1>Leaderboard</h1>
<h2>Who's better than you?</h2>

<div id="leaderboard ">
    {% for player in players %}
    <div class="card-row player-detail m-y-1 {% if player_id == player.username %}current_player{% endif %}">
        <!--username-->
        <div class="player-username"> 
            <a href="{% url 'user-detail' username=player.username %}">
                {{ player.username }}
            </a>
            <span class="text-sm-right small text-muted player-last-login"> 
                at {{ player.last_login }}
            </span>
        </div>

        <!--user stats-->
        <div class="row">
            <div class="col-md-3 player-building_levels"> 
                Total levels: {{ player.total_building_levels }}
            </div>
            <div class="col-md-3 player-coins"> 
                {{ player.pretty_coins }} total coins
            </div>
            <div class="col-md-2 player-coins"> 
                Est. {{ player.cps }} coins/sec
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
