{% extends "base.html" %}

{% block page_title %}
{{ player.username }} | User Detail
{% endblock %}

{% block content %}

<a href="/leaderboard/"> &larr; LEADERBOARDS</a>
<br> <br>

<div class="username"> Username: {{ player.username }} </div>
<div class="coins"> Coins: {{ player.pretty_coins }} </div>
<div class="player-building_levels"> 
    Total levels: {{ player.total_building_levels }}
</div>
<div class="player-coins-per-sec"> 
    Coins per second: {{ cps }}
</div>

<div class="buildings_wrap">
    {% for name, building in buildings.items %}
    <div class="building">
        <span class="building-name">{{ name }}</span>
        <span class="building-level">Lv. {{ building.building_level }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}
