{% extends "base.html" %}

{% block page_title %}
Welcome!
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1> LEAGION </h1>
<br>

<div class="league-wrapper">
    {% for league in leagues %}
    <div>
        <h1>
            <span>{{ league.name }}</span>
            <small class="text-muted">
                <a href="{{league.detail_url}}">(matches)</a>
            </small>
        </h1>

        <div class="teams-wrapper">
            {% for team in league.teams %}
            <div class"row">
                <div class="col-md-2">
                    <div>
                        <a href="{{team.detail_url}}">
                            {{ team.name }}
                        </a>
                    </div>
                </div>

                <div class="players-wrapper text-muted col-md-10">
                    {{ team.matches_played }} matches played,
                    {{ team.players|length }} players
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
