{% extends "base.html" %}

{% block page_title %}
Welcome!
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1> LEAGION </h1>
<div class="h3">
    Overview
</div>
<br>

<div class="league-wrapper">
    {% for league in leagues %}
    <div>
        <h1>
            <span>{{ league.name }}</span>
        </h1>
        <div class="teams-wrapper">
            {% for team in league.teams %}
            <div class"row">
                <div class="col-md-2">
                    <div>
                    {{ team.name }}
                    </div>
                </div>

                <div class="players-wrapper text-muted col-md-10">
                    {{ team.players|length }} players
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
