{% extends "base.html" %}

{% block page_title %}
Team Details
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<a class="btn btn-link" href="{% url 'index' %}"> Home </a>
<h1>
    {{ object.name }}
</h1>

<div class="matches">
    <h2> Matches </h2>
    {% for match in matches %}
    <div class="row">
        <div class="col-md-1">
            {{ match.status }}
        </div>
        <div class="col-md-3">
            <a href="{{match.match_detail_url}}">
                {{ match.match_datetime }}
            </a>
        </div>
        <div class="col-md-2">
            {{ match.location }}
        </div>
        <div class="col-md-2
            {% if match.is_home_win %}
            text-success
            {% elif  match.is_away_win %}
            text-danger
            {% endif %}
        ">
            {{ match.home_team }}
            <small class="text-muted">
                ( {{ match.home_points }} )
            </small>
        </div>
        <div class="col-md-1">
            vs
        </div>
        <div class="col-md-2
            {% if match.is_away_win %}
            text-success
            {% elif  match.is_home_win %}
            text-danger
            {% endif %}
        ">
            {{ match.away_team }}
            <small class="text-muted">
                ( {{ match.away_points }} )
            </small>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <div class="col-md-12">
            No matches found.
        </div>
    </div>
    {% endfor %}
</div>

<div class="players m-t-1">
    <h2> Players </h2>
    {% for player in players %}
    <div class="row">
        <div class="col-md-2">
            <a href="{{player.detail_url}}">
                {{ player.full_name }}
            </a>
        </div>
        <div class="col-md-4">
            <small class="text-muted">
                Matches played:
                {{ player.matches_played }}
            </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
