@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'common/variables';
@import 'common/mixins';
@import 'common/overrides';
@import 'form';
@import 'players';
@import 'admin';
@import 'text';
@import 'media';

@import 'components/misc';
@import 'components/tabs';

body {
    color: $black;
}

.legion-navbar {
    background-color: theme-color("primary");
    padding: 0.2rem 1rem;
}

.titlebar {
    color: $black;
    padding: $spacer;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 50px;
}

.le-card {
    border: 1px solid $black;
    background-color: $white;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.registration-wrapper {
    padding-bottom: 25%;
}

.registration-box {
    border: 1px solid $black;
    background-color: $white;
    max-width: 500px;
    width: 100%;
    padding: 25px 60px;
    margin: auto;
}

.tab-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.leagion-table {
    &.gu-mirror {
        border: 2px solid $gray-lighter;
        display: flex;
        justify-content: center;
        align-items: center;

        .index {
            display: none;
        }
    }

    [data-draggable-handle] {
        cursor: move;
        touch-action: none;
    }

    input[type="checkbox"] {
        margin: 0;
        position: relative;
    }
}

.le-ellipsis-button {
    color: $black;
    padding: 1px 8px;

    &:hover {
        border: 1px solid $gray;
        border-radius: 3px;
    }
}

.le-left-right {
    display: flex;
    justify-content: space-between;
}

.le-no-data-card {
    text-align: center;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.sk-spinner {
    margin: auto;
    padding: 20px;
    color: $gray-dark;
}
