@import '~bootstrap/scss/functions';
@import 'common/variables';
@import 'form';
@import 'players';
@import 'text';

@import 'components/misc';
@import 'components/tabs';

.container {
    background-color: $white;

    padding: 15px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
    #leagion-admin {
        background-color: $white;

        > .container-fluid, .container {
            padding-top: 10px;
        }
    }
}

a {
    cursor: pointer;
}

.appbar {
    background-color: theme-color("primary");
}

.titlebar {
    background-color: $black;
    color: $white;
    text-align: center;
}

.content {
    margin-top: 50px;
}

.le-card {
	border: 1px solid $black;
	background-color: $white;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.registration-wrapper {
    padding-bottom: 25%;
}

.registration-box {
    border: 1px solid $black;
    background-color: $white;
    max-width: 500px;
    width: 100%;
    padding: 25px 60px;
    margin: auto;
}

.roster-draggable {
    &.gu-mirror {
        border: 2px solid $gray-lighter;
        display: flex;
        justify-content: center;
        align-items: center;

        .index {
            display: none;
        }
    }

    [data-draggable-handle] {
        cursor: move;
        touch-action: none;
    }
        
}
