@import 'common/variables';

.container {
    //background-color: white;
    padding: 15px;
}

body {
    background-color: $white
}

nav {
    background-color: $greye;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
