$clib-border: 2px solid black;

.clib-component {
    min-height: 100vh;
    background-color: white;
    padding: 20px;
}

.clib-component-props {
    .form-group {
        margin: 0;
    }
}

.component-library {
}

.clib-title {
    padding: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

