$clib-border: 2px solid black;

.clib-component {
    border-left: $clib-border;
    min-height: 100vh;
}

.component-library {
}

.clib-title {
    padding: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

