@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'common/variables';

$clib-border: 1px solid $black;

.clib-component {
    //min-height: 100vh;
    background-color: $white;
    padding: 40px;

    .actual-component {
        height: 85%;
        padding: 30px;
        border: 1px solid $gray-light;
    }
}

.clib-component-props {
    background-color: $gray-200;
    padding: 30px;

    .form-group {
        margin: 0;
    }
}

.component-library {
    .CodeMirror {
        height: initial;
    }
}

.clib-title {
    padding: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

