
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small {
	color: $black
}

//Jumbo
h1, .h1 {
	font-size: 48px;
}

//Display
h2, .h2 {
	font-size: 36px;
}

//headline
h3, .h3 {
	font-size: 24px;
}

//title
h4, .h4 {
	font-size: 20px;
}

//subheader
h5, .h5 {
	font-size: 16px;
}

//caption
h6, .h6 {
	font-size: 12px;
}

p, .p {
	font-size: 14px;
}

small, .small {
	font-size: 10px;
}
